<div class="flex justify-between items-end h-full">
	<div class="flex items-center gap-2">
		<span [appSkeleton]="!weather()" class="text-8xl font-semibold">
			{{ weather()?.temperature?.value ?? 99 }}
		</span>
		<div class="grid gap-1">
			<div
				class="self-center text-lg text-right cursor-pointer transition-colors text-neutral-500 hover:text-neutral-200 [&.active]:text-neutral-100 [&.active]:text-xl"
				[class.active]="temperatureType() === 'celsius'"
				(click)="setTemperatureType('celsius')"
			>
				ºC
			</div>
			<div
				class="self-center text-lg text-right cursor-pointer transition-colors text-neutral-500 hover:text-neutral-200 [&.active]:text-neutral-100 [&.active]:text-xl"
				[class.active]="temperatureType() === 'fahrenheit'"
				(click)="setTemperatureType('fahrenheit')"
			>
				ºF
			</div>
		</div>
	</div>
	<div class="grid grid-cols-2">
		<span class="text-neutral-300">Nuvens</span>
		<span class="text-right">
			<span [appSkeleton]="!weather()" class="font-semibold text-lg mr-1">{{ weather()?.clouds ?? 100 }}</span>
			<span class="text-neutral-300">%</span>
		</span>

		<span class="text-neutral-300">Humidade</span>
		<span class="text-right">
			<span [appSkeleton]="!weather()" class="font-semibold text-lg mr-1">{{ weather()?.humidity ?? 100 }}</span>
			<span class="text-neutral-300">%</span>
		</span>

		<span class="text-neutral-300">Vento</span>
		<span class="text-right">
			<span [appSkeleton]="!weather()" class="font-semibold text-lg mr-1">{{ weather()?.wind ?? 100 }}</span>
			<span class="text-neutral-300">Km/h</span>
		</span>
	</div>
</div>
